body{
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border: 1px solid rgb(180, 16, 239);
    padding: 10px;
    position: relative;

}
.list-answer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-number{
    width: 200px;
    height: 50px;   
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(180, 16, 239);
    background-color: rgb(198, 10, 10);
    color: #ffff;
}
#btn-submit {
    position: absolute;
    margin-top: 8px;
    right: 50%;
    bottom: 50%;
    width: 80px;
    height: 30px;
    color: #ffffff;
    background-color: rgb(58, 122, 218);
    border-radius: 3px;
    border: 1px solid rgb(58, 122, 218);
}
p {
    position: absolute;
    margin-top: 8px;
    right: 60%;
    bottom: 60%;
    margin-left: 10px;
}